<h2>Admin</h2>
<a href="/finanzas">
<button>💰 Ver Finanzas</button>
</a>
<form method="POST">
  <input name="username" placeholder="Usuario">
  <input name="password" placeholder="Clave">
  <button>Crear</button>
</form>

<hr>

{% for user in users %}
<div>
  <b>{{user[1]}}</b> | XP: {{user[3]}} | Nivel: {{user[4]}} | Clases: {{user[5]}}

  <br>

  <a href="/add_xp/{{user[1]}}/20">+XP</a>
  <a href="/reset_user/{{user[1]}}" onclick="return confirm('Reset?')">🔄 Reset</a>

</div>
<hr>
{% endfor %}